---
//@ts-ignore
import animalsJson from "@assets/Animals.json";
//@ts-ignore
import MainLayout from "@layouts/MainLayout_FR.astro";

// @ts-ignore
import Loader from "../../../components/ui/Loader.astro";
import "@styles/Animal.scss";
import { Icon } from "astro-icon/components";

const animals = animalsJson;

export const getStaticPaths = () => {
  const StaticParams = animalsJson.map(item => {
    return { params: { id: item?.id } };
  });
  return StaticParams;
};

const { id: animalId } = Astro.params;
const animal = animals.find(el => el.id === +animalId);
if (!animal) return Astro.redirect("/");

const alt = animal.lifespan_fr;
---

<MainLayout title={animal.name}>
  <section class="animal">
    <div class="container animal__container">
      <div class="animal__top">
        <div class="animal__top--left">
          <div class="animal__name">
            <h3 class="heading-third animal__name--text">{animal.name_fr}</h3>
            <Icon class="icon animal__icon animal__icon--1" name="mdi:paw" />
          </div>
          <ul class="animal__infos">
            <li class="animal__info">
              <strong>Nom Scientifique</strong>
              <p>:</p>
              {animal.scientific_name}
            </li>
            <li class="animal__info">
              <strong>vitesse maximale</strong>
              <p>:</p>
              {animal.top_speed} km/h
            </li>
            <li class="animal__info">
              <strong>ordre</strong>
              <p>:</p>
              {animal.order_fr}
            </li>
          </ul>
        </div>
        <div class="animal__top--right">
          <Loader />
          <img
            data-src={animal?.image_1}
            alt={alt}
            class="animal__image lazy"
            transition:name="animalphoto"
          />
        </div>
      </div>
      <div class="animal__mid1">
        <!-- Card -->
        <div class="animal__card animal__card--short">
          <div class="animal__card--name">
            <h4 class="heading-third animal__card--name-text">Taille</h4>
            <Icon
              class="icon animal__icon"
              name="fluent:slide-size-24-regular"
            />
          </div>
          <div class="animal__card--details">
            <p class="paragraph">{animal.size_fr}</p>
          </div>
        </div>
        <!-- Card -->
        <div class="animal__card animal__card--short">
          <div class="animal__card--name">
            <h4 class="heading-third animal__card--name-text">Durée de vie</h4>
            <Icon class="icon animal__icon" name="mdi:information-outline" />
          </div>
          <div class="animal__card--details">
            <p class="paragraph">{animal.lifespan_fr}</p>
          </div>
        </div>
        <!-- Card -->
        <div class="animal__card animal__card--short animal__card--orange">
          <div class="animal__card--name">
            <h4 class="heading-third animal__card--name-text">
              Statut de conservation
            </h4>
            <Icon class="icon animal__icon" name="carbon:book" />
          </div>
          <div class="animal__card--details">
            <p class="paragraph">{animal.conservation_fr}</p>
          </div>
        </div>
      </div>
      <div class="animal__mid2">
        <div class="animal__card animal__card--long">
          <div class="animal__card--name">
            <h4 class="heading-third animal__card--name-text">Distribution</h4>
            <Icon class="icon animal__icon" name="carbon:location" />
          </div>
          <div class="animal__card--details">
            <p class="paragraph">{animal.distribution_fr}</p>
          </div>
        </div>
        <div class="animal__card animal__card--short">
          <div class="animal__card--name">
            <h4 class="heading-third animal__card--name-text">Coevolution</h4>
            <Icon class="icon animal__icon" name="carbon:user-avatar" />
          </div>
          <div class="animal__card--details">
            <p class="paragraph">{animal.species_fr}</p>
          </div>
        </div>
      </div>
      <div class="animal__bottom">
        <div class="animal__card animal__card--short">
          <div class="animal__card--name">
            <h4 class="heading-third animal__card--name-text">Nutrition</h4>
            <Icon class="icon animal__icon" name="mdi:food-drumstick-outline" />
          </div>
          <div class="animal__card--details">
            <p class="paragraph">{animal.nutrition_fr}</p>
          </div>
        </div>
        <div class="animal__card animal__card--short animal__card--image">
          <Loader />
          <img data-src={animal.image_2} alt={alt} class="lazy" />
        </div>
        <div class="animal__card animal__card--short">
          <div class="animal__card--name">
            <h4 class="heading-third animal__card--name-text">Mode de vie</h4>
            <Icon class="icon animal__icon" name="mdi:heart-outline" />
          </div>
          <div class="animal__card--details">
            <p class="paragraph">{animal.lifestyle_fr}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
