---
import logo from "/images/logo-footer.svg?url";
import { Icon } from "astro-icon/components";
import "../styles/Footer.scss";
import { IMAGE_BASE_URL } from "../lib/contants.js";
const year = new Date().getFullYear();
---

<footer class="footer">
  <div class="container footer__container">
    <div class="footer__logos">
      <img class="footer__logo" src={logo} alt="lion zoo logo" />
      <div class="footer__socials">
        <a target="_blank" href="https://facebook.com/"
          ><Icon class="icon footer__social" name="mdi:facebook" /></a
        >
        <a target="_blank" href="https://www.instagram.com/"
          ><Icon class="icon footer__social" name="mdi:instagram" /></a
        >
        <a target="_blank" href="https://www.youtube.com/"
          ><Icon class="icon footer__social" name="mdi:youtube" /></a
        >
        <a target="_blank" href="https://www.linkedin.com/in/youness-ailal/"
          ><Icon class="icon footer__social" name="mdi:linkedin" /></a
        >
      </div>
    </div>
    <div class="footer__links">
      <p class="footer__title">links</p>
      <a href="/" class="link footer__link">Home</a>
      <a href="/Gallery" class="link footer__link">Gallery</a>
      <a href="/Contact" class="link footer__link">Contact us</a>
      <a href="/Tickets" class="link footer__link">Tickets</a>
      <a href="/Animals" class="link footer__link">Animals</a>
    </div>

    <div class="footer__contact">
      <p class="footer__title">contact</p>
      <a href="tel:+212123456789" class="link footer__link"
        ><Icon class="icon footer__icon" name="carbon:phone" />+212 123456789</a
      >
      <a href="mailto:itsyounessaylal@gmail.com" class="link footer__link">
        <Icon
          class="icon footer__icon"
          name="mdi:email-outline"
        />itsyounessaylal@gmail.com</a
      >
      <a class="link footer__link" href="/"
        ><Icon class="icon footer__icon" name="carbon:location" />Drarga street
        1, Agadir</a
      >
    </div>

    <div class="footer__photos">
      <p class="footer__title">latest photos</p>
      <div class="footer__gallery">
        <img
          src={`${IMAGE_BASE_URL}/swiper_2.jpg`}
          alt="a lion from lion park Agadir"
        />
        <img
          src={`${IMAGE_BASE_URL}/swiper_6.jpg`}
          alt="a lion from lion park Agadir"
        />
        <img
          src={`${IMAGE_BASE_URL}/swiper_4.jpg`}
          alt="a lion from lion park Agadir"
        />
        <img
          src={`${IMAGE_BASE_URL}/swiper_5.jpg`}
          alt="a lion from lion park Agadir"
        />
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p>
      &copy; {year} Made by <a
        target="_blank"
        href="https://www.linkedin.com/in/youness-ailal/">@Youness Ailal</a
      >
    </p>
  </div>
</footer>
